<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bali Island</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            min-height: 100vh;
            flex: 1;
        }

        footer {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            background: #343a40;
            height: auto;
            width: auto;
            padding-top: 0px;
            color: #fff;
        }

        .footer-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        .footer-content h3 {
            font-size: 2.1rem;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 3rem;
            margin-top: 10px;
            margin-bottom: 0px;
            color: rgb(59, 203, 11);
        }

        .footer-content p {
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
            color: #cacdd2;
        }

        .socials {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;
        }

        .socials li {
            margin: 0 10px;
        }

        .socials a {
            text-decoration: none;
            color: #fff;
            border: 1.1px solid white;
            padding: 5px;
            border-radius: 50%;

        }

        .socials a i {
            font-size: 1.1rem;
            width: 20px;
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: rgb(59, 203, 11);
        }

        .footer-bottom {
            background: #1a1a1c;
            width: auto;
            padding: 20px;
            padding-bottom: 40px;
            text-align: center;
        }

        .footer-bottom p {
            float: left;
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }

        .footer-bottom p a {
            color: rgb(59, 203, 11);
            font-size: 16px;
            text-decoration: none;
        }

        .footer-bottom span {
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
        }

        body {
            background: url("background3.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        .container1 {
            position: absolute;
            left: 50px;
            top: 150px;
            color: white;
        }

        .container2 {
            position: absolute;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }

        .video {
            position: absolute;
            left: 700px;
            top: 150px;
            width: 300px;
        }

        .wanttogo {
            position: absolute;
            left: 30px;
            top: 470px;
        }

        #my {
            zoom: 110%;
        }

        .alert {
            margin-left: 30%;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            width: 40%;
            text-align: center;
            display: none;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body class="Site">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href='home' style="font-size: 30px; color:rgb(59, 203, 11);">GO ₽L₳¢£$</a>
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Bali Island</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search" aria-label="Search"
                    required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main class="Site-content">
        <div id='wanttogoalert' ; class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong id="msg"></strong>
        </div>
        <div class="container1">
            <img id="image" src="/bali.png" width="193" height="300">
        </div>
        <div class="container2">
            Also known as the Land of the Gods, Bali appeals through its sheer natural beauty of looming volcanoes and
            lush
            terraced rice fields that exude peace and serenity. It is also famous for surfers' paradise.
        </div>
        <div class="wanttogo">
            <button id="wanttogo" class="btn btn-secondary ml-3" onclick="ajaxPOST()">Add to Want-to-Go List</button>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LCqK7wZd2Pk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>Video not available at the moment.</iframe>
            <br>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <h3>GO ₽L₳¢£$</h3>
            <p>Our mission in GO PLACES is to help you find your next travelling destination.
            <ul class="socials">
                <li><a href="https://instagram.com/go_places0?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
                    Let's Share Our Happy Moments!</li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="home">GO ₽L₳¢£$</a> </p>
        </div>
    </footer>
    <script>
        var msg = document.getElementById('wanttogoalert');
        function showmsg(x) {
            if (x == '1') {
                document.getElementById("msg").innerHTML = "Destination added successfully!";
                msg.style.backgroundColor = 'rgb(59, 203, 11)';
                msg.style.display = 'block';
            }
            else {
                msg.style.display = 'none';
                document.getElementById("msg").innerHTML = "Destination already added!";
                msg.style.backgroundColor = '#de2315';
                msg.style.display = 'block';
            }

        }
        // (A) POST WITH AJAX
        function ajaxPOST() {
            var data = JSON.stringify({ destination: 'Bali Island' });
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/addwanttogo", true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(data);
            xhr.onload = function () {
                //console.log(this.response);
                showmsg(this.response);
            };
        }
    </script>
</body>

</html>