<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background: url("background2.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        .cont {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            color: white;
            text-align: center;
        }

        #simple_click {
            transition: background .5s;
            color: #f0f0f0;
            margin-block: 10px 10px;
            writing-mode: horizontal-tb;
        }

        #submit {
            transition: background .5s;
            background: #09a363;
            color: #f0f0f0;
            margin-block: 10px 20px;
            writing-mode: horizontal-tb;
        }

        .alert {
            margin-left: 30%;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            width: 40%;
            text-align: center;
            display: none;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Registration</h1>
    </div>
    <div class="cont">
        <form method='post' action='/register'>
            Username: <br>
            <input type="text" id="user" name="username"> <br>
            Password: <br>
            <input type="password" id="password" name="password"> <br> <br>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Register"> <br>
        </form>
        <button id="submit" onclick="location.href = '/login';" class="btn btn-secondary">Go back to Login </button>
    </div>
    <div id='loginalert' class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong id="msg"></strong>
    </div>
    <% if (showmsg==0) { %>
        <script>
            document.getElementById('loginalert').style.display = 'none';
        </script>
        <% } else if (showmsg==1) { %>
            <script>
                document.getElementById("msg").innerHTML = "Empty username or password is not accepted!";
                document.getElementById('simple_click').style.backgroundColor = 'rgb(207, 4, 4)';
                document.getElementById('loginalert').style.backgroundColor = 'rgb(207, 4, 4)';
                document.getElementById('loginalert').style.display = 'block';
            </script>
            <% } else if(showmsg==2) { %>
                <script>
                    document.getElementById("msg").innerHTML = "Username already taken, Try another one!";
                    document.getElementById('simple_click').style.backgroundColor = 'rgb(207, 4, 4)';
                    document.getElementById('loginalert').style.backgroundColor = 'rgb(207, 4, 4)';
                    document.getElementById('loginalert').style.display = 'block';
                </script>
                <% } %>
</body>

</html>