<!DOCTYPE html>
<html lang="en">

<head>
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Santorini Island</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            min-height: 100vh;
            flex: 1;
        }

        footer {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            background: #343a40;
            height: auto;
            width: auto;
            padding-top: 0px;
            color: #fff;
        }

        .footer-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        .footer-content h3 {
            font-size: 2.1rem;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 3rem;
            margin-top: 10px;
            margin-bottom: 0px;
            color: rgb(59, 203, 11);
        }

        .footer-content p {
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
            color: #cacdd2;
        }

        .socials {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;
        }

        .socials li {
            margin: 0 10px;
        }

        .socials a {
            text-decoration: none;
            color: #fff;
            border: 1.1px solid white;
            padding: 5px;
            border-radius: 50%;

        }

        .socials a i {
            font-size: 1.1rem;
            width: 20px;
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: rgb(59, 203, 11);
        }

        .footer-bottom {
            background: #1a1a1c;
            width: auto;
            padding: 20px;
            padding-bottom: 40px;
            text-align: center;
        }

        .footer-bottom p {
            float: left;
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }

        .footer-bottom p a {
            color: rgb(59, 203, 11);
            font-size: 16px;
            text-decoration: none;
        }

        .footer-bottom span {
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
        }

        body {
            background: url("background3.jpg") no-repeat center center fixed; 
            background-size: cover;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        .container1 {
            position: absolute;
            left: 50px;
            top: 150px;
            color: white;
        }

        .container2 {
            position: absolute;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }

        .video {
            position: absolute;
            left: 700px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }

        .wanttogo {
            position: absolute;
            left: 30px;
            top: 470px;
        }

        #my {
            zoom: 110%;
        }

        .qualitycontrol {
            position: absolute;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 80px;
            height: 180px;
            left: 500px;
            top: 80px;
        }
    </style>
  </head>

  <body class="Site">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href='home' style="font-size: 30px; color:rgb(59, 203, 11);">GO ₽L₳¢£$</a>
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Santorini Island</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main class="Site-content">
    <div class="container1">
        <img id="image" src="/santorini.png" width="193" height="300">
    </div>
    <div class="container2">
        With its stunning turquoise waters and picturesque villages, great activities including wine-tasting, authentic
        Greek cuisine, regular boat excursions due to its ideal location for island hopping, small Greek island of
        Santorini became so popular as a holiday destination.
    </div>
    <div class="wanttogo">
        <button id="wanttogo" class="btn btn-secondary ml-3">Add to Want-to-Go List</button>
    </div>
    <div class="video">
        <video id="video" video width="480" height="360" controls preload="metadata"
            src="https://vlogrplugin.s3.ap-northeast-2.amazonaws.com/ffdb4554-2e2c-49e9-9151-c596831168af.mp4">
            Video not available at the moment.
        </video>
        <br>
        <div class="qualitycontrol">
            <button id="240" class="btn btn-secondary ml-0" onclick="playvid(this)">240</button>
            <button id="360" class="btn btn-secondary ml-0" onclick="playvid(this)">360</button>
            <button id="720" class="btn btn-secondary ml-0" onclick="playvid(this)">720</button>
            <button id="1080" class="btn btn-secondary ml-0" onclick="playvid(this)">FHD</button>
        </div>
    </div>
</main>
<footer>
    <div class="footer-content">
        <h3>GO ₽L₳¢£$</h3>
        <p>Our mission in GO PLACES is to help you find your next travelling destination.
        <ul class="socials">
            <li><a href="https://instagram.com/go_places0?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
                Let's Share Our Happy Moments!</li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="home">GO ₽L₳¢£$</a> </p>
    </div>
</footer>
    <!--local scripting for quality buttons-->
    <script>
        // gets the video element
        var video = document.getElementById("video");
        function playvid(quality) {
            var video_start_src = video.src;
            var video_new_src = "";
            // set the video element source to selected content and correct quality
            if (quality.id == "240")
                video_new_src = " https://vlogrplugin.s3.ap-northeast-2.amazonaws.com/4e7baede-8181-4ea1-8875-a6a1d3e71335.mp4";
            else if (quality.id == "360")
                video_new_src = "https://vlogrplugin.s3.ap-northeast-2.amazonaws.com/ffdb4554-2e2c-49e9-9151-c596831168af.mp4";
            else if (quality.id == "720")
                video_new_src = "https://vlogrplugin.s3.ap-northeast-2.amazonaws.com/3fa9e02a-d0c1-4674-8b7b-d875678059f2.mp4";
            else if (quality.id == "1080")
                video_new_src = "https://vlogrplugin.s3.ap-northeast-2.amazonaws.com/66c3f8f4-d628-45dc-9539-3e3d59035f9b.mp4";
            if (video_start_src != video_new_src) {
                video.src = video_new_src;
                video.play();
            }
        }
    </script>
</body>

</html>